<template>
    <div class="modal-mask" v-show="show">
            <div class="modal" v-bind:style="{ width: width, height: height }" >
                <div class="modal-header">
                    <slot name="header">Default header</slot>
                    <button class="modal-close" @click="close" >X</button>
            </div>
            <slot></slot>
        </div>
    </div>
</template>

<script>
    module.exports = {
        props: ['show','width','height'],
        methods: {
            close: function () {
                this.$emit('close');
            }

        },
        mounted: function () {
            document.addEventListener("keydown", (e) => {
                if (this.show && e.keyCode == 27) {
                this.close();
            }
        });
        }
    }
</script>

<style>
    * {
        box-sizing: border-box;
    }
    .modal {
        min-height: 200px;
    }
</style>
