<template>
    <modal :show="show" @close="close" width="400px" height="calc(100% - 300px)">
        <h2 slot="header">New Hotel</h2>
        <div class="modal-body">
            <div class="form-inputs">
                <div class="form-inputs">
                    <label for="hotel_name">Name</label>
                    <input name="name" id="hotel_name" v-model="name"  />
                </div>

                <div class="form-inputs">
                    <label for="hotel_name">Description</label>
                    <textarea name="description" id="hotel_description" v-model="description" ></textarea>
                </div>
                <div class="form-inputs">
                    <span class="input-label">Stars</span>
                    <div class="stars-select-wrapper">
                        <div class="stars-select">
                            <input class="star-select star-select--5" id="hotel_stars_5" type="radio" name="hotel_stars" v-model="stars" value="5" />
                            <label class="star-select star-select--5" for="hotel_stars_5"></label>
                            <input class="star-select star-select--4" id="hotel_stars_4" type="radio" name="hotel_stars" v-model="stars" value="4" />
                            <label class="star-select star-select--4" for="hotel_stars_4"></label>
                            <input class="star-select star-select--3" id="hotel_stars_3" type="radio" name="hotel_stars" v-model="stars" value="3" />
                            <label class="star-select star-select--3" for="hotel_stars_3"></label>
                            <input class="star-select star-select--2" id="hotel_stars_2" type="radio" name="hotel_stars" v-model="stars" value="2" />
                            <label class="star-select star-select--2" for="hotel_stars_2"></label>
                            <input class="star-select star-select--1" id="hotel_stars_1" type="radio" name="hotel_stars" v-model="stars" value="1" />
                            <label class="star-select star-select--1" for="hotel_stars_1"></label>
                        </div>
                    </div>
                </div>
                <div class="form-inputs">
                    <span class="input-label">City</span>
                    <v-select
                            v-model="city"
                            :debounce="250"
                            :on-search="getCityOptions"
                            :options="cityOptions"
                            placeholder="Search Cities..."
                            label="name"
                    ></v-select>
                </div>
            </div>
            <div class="form-actions">
                <!--<button class="button" @click="showNewSeasonModal = true">New Season</button>
                <new-season-modal :show="showNewSeasonModal" @close="showNewSeasonModal = false" ></new-season-modal>-->
                <button @click="saveHotel">Ok</button>
            </div>
        </div>
    </modal>
</template>

<script>
    import Modal from './Modal.vue';
    import NewSeasonModal from './NewSeasonModal.vue';
    import vSelect from "vue-select";

    export default {
        components: {
            'modal':Modal,
            'NewSeasonModal': NewSeasonModal,
            'vSelect':vSelect
        },
        props: ['show'],
        data: function () {
            return {
                name: null,
                description: null,
                city: null,
                stars:null,
                showNewSeasonModal: false,
                cityOptions: [],
            };
        },
        methods: {
            close: function () {
                this.$emit('close');
                this.name = null;
                this.description = null;
                this.stars = null;
            },
            saveHotel: function () {
                this.$http.post('/api/v1/hotels',{
                    name:this.name,
                    description:this.description,
                    stars:this.stars,
                    city:this.city.id,
                }, {
                    headers: {
                        Accept: 'application/json',
                        Authorization: 'Bearer '+ this.$auth.getToken(),
                    }
                }).then(resp => {
                    this.close();
                });

            },
            getCityOptions: function(search, loading){
                if(search.length < 3){
                    return false;
                }
                loading(true);
                this.$http.get('/api/v1/cities?fields=id,name&search='+search).then(resp => {
                    this.cityOptions = resp.data;
                    loading(false);
                })
            }
        }
    }
</script>