<template>
    <modal :show="show" @close="close" style="margin-left:50px;" width="400px" height="500px">
        <h2 slot="header">New season</h2>
        <div class="modal-body">
            <div class="form-inputs">
                <label for="season_name">Season Name</label>
                <input name="name" id="season_name" v-model="name"  />
            </div>
            <div>
                <button @click="saveSeason">Ok</button>
            </div>
        </div>
    </modal>
</template>

<script>
    import Modal from './Modal.vue';

    export default {
        components: {
            'modal':Modal
        },
        props: ['show'],
        data: function () {
            return {
                name: '',
                start_date: '',
                end_date: '',
            };
        },
        methods: {
            close: function () {
                this.$emit('close');
                this.name = '';
                this.start_date = '';
                this.end_date = '';
            },
            saveSeason: function () {
                // Some save logic goes here...
                alert('Name: '+this.name);
                this.close();
            }
        }
    }

</script>