// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600|Roboto);
// Variables
@import "variables";

//Globals
.container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.button {
  display: inline-block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-user-select: none;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.17);
  color: #737373;
  cursor: pointer;
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 36px;
  line-height: 34px;
  min-width: 40px;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
}

// Margins
.margin-20-h {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-40-v {
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

// Colors
.-white { color: #fff; }
.-orange {  color: #FF9800;  }
.-blue {  color: #2196F3;  }
.-indigo {  color: #3F51B5;  }
.-teal {  color: #009688;  }
.-purple {  color: #9C27B0;  }
.-deep-purple {  color: #673AB7;  }
// Background colors
.-bg-deep-orange { background-color: #FF5722; }
.-bg-deep-purple { background-color: #673AB7; }

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: $primary-font-size;
  background-color: $body-bg-color;
}

#app {
  padding-top: 50px;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  color: #737373;
  z-index:999999;


  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .brand {
    display: block;
    float: left;
    margin-right: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    color: #737373;
    text-decoration: none;
  }
  .nav-items {
    display: block;
  }
  .nav-left {
    float: left;
  }
  .nav-right {
    float: right;
  }

  .nav-items > li {
    float: left;
  }

  .nav-items a {
    display: block;
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    color: #737373;
    font-weight: 600;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  }

  .nav-items a:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }

  .nav-items a.active {
    border-bottom: 3px solid $primary-accent-color;
    padding-bottom: 3px;
  }
}

// Cards
.card {
  background-color: $card-bg-color;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.27);
  border-radius: 3px;
  padding: 20px;

  .card-head * {
    text-decoration: none;
  }

  h1, h2 {
    margin: 0;
    padding: 0;
  }

}

.card-medium {
  width: 300px;
}

.card-larg {
  width: 600px;
}


//Text Content
.text-content {
  color: #212121;
  color: rgba(0,0,0,.87);
  font-size: 17px;
  margin: 25px 0 36px 0;
  line-height: 32px;
  font-family: Roboto, sans-serif;

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: 2.6rem;
  }
}

//Home banner
.home-main-banner {
  position: relative;

  h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; }

  .img-bg {
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .img-bg:after {
    content: '';
    display: block;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba( 0,0,0,0.5 );
  }

  .text {
    perspective: 1px;
    color: #fff;

    h2 {
      text-align: center;
      font-size: 2.5rem;
      padding:20px 0;
      margin: 0;
    }

    p {
      font-size: 1.3rem;
      line-height: 1.7;
      text-align: center;
      margin: 20px 0;

    }

    // Call to action
    .cta-wrap {
      text-align: center;
      padding: 20px 0;

      .cta {
        position: relative;
        display: inline-block;
        height: 50px;
        padding: 0 25px;
        font-size: 1.1rem;
        font-weight: 500;
        border-radius: 3px;
        box-shadow: 1px 1px 2px 3px rgba( 0,0,0,.2 );
        line-height: 50px;
        text-decoration: none;
      }

      .cta:hover:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba( 0,0,0,.05 );
      }
    }
  }
}

#welcome {
  padding: 20px 0;
  .text {
    margin: 0 0 20px;
    font-size: 1.05rem;
    text-align: center;


  }
}
