<template><div id="login" class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <form  id="login-form" v-on:submit="login" class="form-horizontal" role="form" method="POST" :action="action">
                        <slot></slot>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" v-model="email" required autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" v-model="password" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember"> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>

                                <a class="btn btn-link" :href="password_request">
                                    Forgot Your Password?
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>

    export default {
        props: ['action','password_request'],
        data: function () {
            return {
                email: '',
                password: '',
            };
        },
        methods: {
            login (event) {
                event.preventDefault();
                let data = {
                    client_id: 2,
                    client_secret: 'PYkNj2wIxQiY7lZ1cb0joCQvrj2pRQj3h9qBbJ7i',
                    grant_type: 'password',
                    username: this.email,
                    password: this.password,
                };
                this.$http.post('/oauth/token',data)
                    .then(response => {
                        this.$auth.setToken(response.body.access_token, response.body.expires_in + Date.now());
                        document.getElementById('login-form').submit();
                    },response => {
                        console.log(response);
                    });
            }
        }
    }
</script>